* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background: radial-gradient(130.84% 313.14% at -8.25% 35.9%, #586DE9 0%, #7177E2 16.84%, #8A80DC 44.06%, #9183DA 51.04%, #A38AD5 61.78%, #BB94D0 77.6%, #D59EC7 94.27%, #DEA1C5 99.99%, rgba(245, 245, 245, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
;
    height: 100%;
}


.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 8px;

}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

.buttonOne{
    margin-top: 5px;
    margin-left: 5px;
    width: 30%;
    height: 15px;
    align-items: center;
    background-color: #59B3CF;
    color: #fff;
    font-size: larger;
}
.buttonTwo{
    margin-top: 5px;
    margin-left: 35px;
    width: 30%;
    height: 15px;
    align-items: center;
    background-color: #59B3CF;
    color: #fff;
    font-size: larger;
}
.buttonThree{
    margin-top: 5px;
    margin-left: 35px;
    width: 30%;
    height: 15px;
    align-items: center;
    background-color: #59B3CF;
    color: #fff;
    font-size: larger;
}
button {
    box-shadow: none;
    border: 1px solid transparent;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #59B3CF;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #59B3CF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: #59B3CF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#username-page {
    text-align: center;
}

.username-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.username-page-container .username-submit {
    margin-top: 10px;
}


#chat-page {
    position: relative;
    height: 100%;
}

.chatButtonCategories{
    max-width: 100%;
    flex-direction: column;
    padding: 10px;
    margin-left: 0;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 30px;
    height: calc(100% - 60px);
    max-height: 70px;
    position: relative;
    border-radius: 8px;
    align-items: center;
}



.chat-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 90px;
    height: calc(100% - 60px);
    max-height: 800px;
    position: relative;
    border-radius: 8px;
}

#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(90% - 150px);
}

#chat-page #messageForm {
    padding: 20px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}